.button {
    padding: 0.75rem 1.4rem;
    border: none;
    border-radius: 0.75rem;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: inherit;
    width: 100%;
  
    @media (min-width: 480px) {
      padding: 0.8rem 1.6rem;
      font-size: 1rem;
      width: auto;
    }
  
    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
  
  /* Tema renkleri */
  .primary {
    background-color: var(--primary-color);
    color: var(--white-color);
  
    &:hover,
    &:focus {
      background-color: var(--accent-hover);
      outline: none;
      transform: translateY(-2px);
    }
  }
  
  .secondary {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
  
    &:hover {
      background-color: var(--primary-color);
      color: var(--white-color);
    }
  }
  
  .outline {
    background-color: transparent;
    border: 2px solid var(--border-color);
    color: var(--text-color);
  
    &:hover {
      border-color: var(--primary-color);
      color: var(--primary-color);
    }
  }
  