.theme-toggle {
    background: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 1.25rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 1000;
    box-shadow: 0 4px 8px var(--shadow-color);
  
    &:hover {
      filter: brightness(90%);
      transform: scale(1.05);
      background: var(--accent-hover);
    }
  }
  