.faq {
    padding: 3rem 1rem;
    background-color: var(--background-color);
    text-align: center;

    @media (min-width: 768px) {
      padding: 4rem 1rem;
    }
  
    &__title {
      font-size: 1.75rem;
      margin-bottom: 1.5rem;
      color: var(--text-color);

      @media (min-width: 480px) {
        font-size: 2rem;
        margin-bottom: 2rem;
      }
    }
  }
  